<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# Practice Project: GDP Data extraction and processing

Estimated time needed: **30** minutes

## Introduction

In this practice project, you will put the skills acquired through the course to use. You will extract data from a website using webscraping and reqeust APIs process it using Pandas and Numpy libraries.

## Project Scenario:

An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior Data Engineer and are tasked with creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF). 

The required data seems to be available on the URL mentioned below:

URL: https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29

## Objectives

After completing this lab you will be able to:

 - Use Pandas to read the data from html page and process the tabular data as a dataframe.
 - Use Numpy to manipulate the information contatined in the dataframe.
 - Load the updated dataframe to CSV file.

---

## Dislcaimer

If you are using a downloaded version of this notebook on your local machine, you may encounter a warning message as shown in the screenshot below.

<p style="text-align:center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/mod_5/practice_project_disclaimer.png" width="700" alt="warning message">
</p>


This does not affect the execution of your codes in any way and can be simply ignored.

# Setup

For this lab, we will be using the following libraries:

*   [`pandas`](https://pandas.pydata.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for managing the data.
*   [`numpy`](https://numpy.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for mathematical operations.

### Importing Required Libraries

_We recommend you import all required libraries in one place (here):_

In [3]:
import numpy as np
import pandas as pd

# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

---

# Exercises

### Exercise 1
Extract the required GDP data from the given URL using Web Scraping.

In [4]:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

You can use Pandas library to extract the required table directly as a DataFrame. Note that the required table is the third one on the website, as shown in the image below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/images/pandas_wbs_3.png">

In [5]:
!pip install pandas lxml

Requirement already satisfied: pandas in c:\users\pranav.kumar\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: lxml in c:\users\pranav.kumar\appdata\local\programs\python\python313\lib\site-packages (5.4.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pranav.kumar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pranav.kumar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pranav.kumar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pranav.kumar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pranav.kumar\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd

# The Wikipedia URL with the table(s) you want

# pd.read_html() scans the page and returns a list of all tables found
tables = pd.read_html(URL)

print(f"Found {len(tables)} tables on this page.")

# In this case, the first table (index 0) is the one we want.
# You might need to inspect the page to find the correct index.
gdp_countries_table = tables[3]

# Display the first 5 rows of the DataFrame
print(gdp_countries_table.head())

# You can now work with this DataFrame
# For example, save it to a CSV
gdp_countries_table.to_csv('gdp_countries_table.csv')

Found 8 tables on this page.
  Country/Territory UN region IMF[1][13]            World Bank[14]             \
  Country/Territory UN region   Estimate       Year       Estimate       Year
0             World         —  105568776       2023      100562011       2022
1     United States  Americas   26854599       2023       25462700       2022
2             China      Asia   19373586  [n 1]2023       17963171  [n 3]2022
3             Japan      Asia    4409738       2023        4231141       2022
4           Germany    Europe    4308854       2023        4072192       2022

  United Nations[15]
            Estimate       Year
0           96698005       2021
1           23315081       2021
2           17734131  [n 1]2021
3            4940878       2021
4            4259935       2021

In [43]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
df = pd.read_csv('gdp_countries_table.csv')
# Replace the column headers with column numbers
df.columns = range(df.shape[1])

In [44]:
df.head()

,0,1,2,3,4,5,6,7,8
0,NaN,Country/Territory,UN region,Estimate,Year,Estimate,Year,Estimate,Year
1,0.0,World,—,105568776,2023,100562011,2022,96698005,2021
2,1.0,United States,Americas,26854599,2023,25462700,2022,23315081,2021
3,2.0,China,Asia,19373586,[n 1]2023,17963171,[n 3]2022,17734131,[n 1]2021
4,3.0,Japan,Asia,4409738,2023,4231141,2022,4940878,2021

In [45]:
# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df.iloc[:,[1,3]]
df.head()

                   1          3
0  Country/Territory   Estimate
1              World  105568776
2      United States   26854599
3              China   19373586
4              Japan    4409738

In [46]:
# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[range(1,11),:]
df

                 1          3
1            World  105568776
2    United States   26854599
3            China   19373586
4            Japan    4409738
5          Germany    4308854
6            India    3736882
7   United Kingdom    3158938
8           France    2923489
9            Italy    2169745
10          Canada    2089672

In [47]:
# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ["Country", "GDP (Million USD)"]
df

           Country GDP (Million USD)
1            World         105568776
2    United States          26854599
3            China          19373586
4            Japan           4409738
5          Germany           4308854
6            India           3736882
7   United Kingdom           3158938
8           France           2923489
9            Italy           2169745
10          Canada           2089672

<details>
    <summary>Click here for Solution</summary>

```python
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables = pd.read_html(URL)
df = tables[3]

# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']
```

</details>

### Exercise 2
Modify the GDP column of the DataFrame, converting the value available in Million USD to Billion USD. Use the `round()` method of Numpy library to round the value to 2 decimal places. Modify the header of the DataFrame to `GDP (Billion USD)`.

In [48]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)
# Convert the GDP value in Million USD to Billion USD # Use numpy.round() method to round the value to 2 decimal places.
df['GDP (Million USD)'] = np.round(df['GDP (Million USD)'] / 1000, decimals=2)
# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)
df.columns = ["Country", "GDP (Billion USD)"]
df

           Country  GDP (Billion USD)
1            World          105568.78
2    United States           26854.60
3            China           19373.59
4            Japan            4409.74
5          Germany            4308.85
6            India            3736.88
7   United Kingdom            3158.94
8           France            2923.49
9            Italy            2169.74
10          Canada            2089.67

<details>
    <summary>Click here for solution</summary>
    
```python
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

# Convert the GDP value in Million USD to Billion USD
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

```
</details>

### Exercise 3

Load the DataFrame to the CSV file named "Largest_economies.csv"

In [49]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv("Largest_economies.csv")

<details>
    <summary>Click here for Solution</summary>

```python
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv('./Largest_economies.csv')
```

</details>

---

# Congratulations! You have completed the lab.

## Authors

[Abhishek Gagneja](https://www.linkedin.com/in/abhishek-gagneja-23051987/)

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-11-10|0.1|Abhishek Gagneja|Created initial version|

Copyright © 2023 IBM Corporation. All rights reserved.

In [2]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [4]:
import numpy as np
a=np.array([0,1,0,1,0]) 

b=np.array([1,0,1,0,1]) 

a/b

C:\Users\Pranav.Kumar\AppData\Local\Temp\ipykernel_21980\1450292754.py:6: RuntimeWarning: divide by zero encountered in divide
  a/b

array([ 0., inf,  0., inf,  0.])

In [5]:
a=np.array([1,1,1,1,1]) 

a+10

array([11, 11, 11, 11, 11])

In [9]:
with open('data.txt','a') as file1:
    file1.write('\n')
    file1.write('Pkay')